/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2014, 1:36:36 AM
    Author     : Frob
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
}

header {
    padding: 20px;
    width: auto;
    background-color: honeydew;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 20px;
    
}

.instance {
    padding-left: 5px;
    margin: 5px 5px 5px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

.instance .name {
    padding: 5px 9px;
    margin-left: -5px;
    cursor: pointer;
    border-radius: 2px;
}

.instance .name:hover {
    background-color: black;
    color: white;
}

.opened {
    background-color: honeydew;
    padding-bottom: 1px;
}

.opened .name {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.closed {
    background-color: white;
}